 <h2 class="countryName">{{this.name}}</h2>
<p class="countryData"><span class="countryData_bold">{{this.}}:</span>{{this.}}</p>
<p class="countryData"><span class="countryData_bold">{{this.}}:</span>{{this.}}</p>
<p class="countryData"><span class="countryData_bold">{{this.}}:</span>{{this.}}</p>